#mapcontainer, #tablecontainer {
    //height: 500px;
    height: 700px;
    position: relative;
}

#map {
    height: 100%;
    width: 62%;
    position: absolute;
}

.mapboxgl-ctrl-attrib {
    position: absolute;
    bottom: 1px;
    right: 3px;
}


#xout {
    background-color: #484848;
    padding: 10px;
    margin: 0px;
}

#xout a, #fb-share-button a {
    color: white;
    text-decoration: none;
}

#infobox {
    position: absolute; 
    right: 0px; 
    background: #EEEEEE; 
    z-index: 1; 
    width: 38%; 
    height: 100%;
}

#infobox ul {
    list-style-type: none; 
}

#legend {
    position: absolute; 
    bottom: 0px;
    z-index: 1; 
    width: 100%; 
}

#legend ul {
    list-style-type: none; 
    font-size: 12px; 
    font-weight: bold;
    text-align: center;
}

#legend li {
    margin: 5%;
    display: inline-block;
}

#legend img {
    margin-right: 10px; 
    vertical-align: baseline;
}


#key {
    margin-bottom: 11px;
}

#credit {
}

#divider {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}


#school-listing {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
}

#school-listing li{
    font-size: 14px;
    margin-bottom: 3px;
}

#instructions {
    padding-top: 70%; 
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

#school-name h1 {
    margin-top: 0px;
    margin-bottom: 7px;
}

#school-pic img {
    width: 80%;
}

#school-address {
    padding-top: 8px;
}

#school-narrative {
    padding-top: 5px;
    padding-bottom: 10px;
}

#fb-share-button {
    color: white;
    background-color: #4267B2;
    border-radius: 3px;
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 1px;
    position: relative;
    float: right;
}


#schools-table {
}

